<ul class="event-items">
  {%- for page in Model.Pages -%}
  <li class="event">
    <div class="description">

      <a href="{{ page.PageLink | friendly_url }}">
        <h3>
          {%- if page.PageTitle != null and page.PageTitle != "" -%}
            {{ page.PageTitle }}
          {%- else -%}
            {{ page.PageName }}
          {%- endif -%}
        </h3>
      </a>

      {%- if page.PageCategories != null -%}
      <div class="event-cats">
        {%- for item in page.PageCategories -%}
          <div class="cat-tag">{{ item.Name }}</div>
        {%- endfor -%}
      </div>
      {%- endif -%}

      {%- if page.PageOverview != null -%}
      <div class="teaser line-clamp line-clamp-teaser">
        <h4>Description</h4>
        {{ Property.For(page.PageOverview, "PageOverview") }}
      </div>
      {%- elsif page.PageSummary != null -%}
      <div class="teaser line-clamp line-clamp-teaser">
        {{ page.PageSummary }}
      </div>
      {%- endif -%}

    </div>

    {%- if page.PageImage != null -%}
      {%- assign img = page.PageImage | get_image -%}
      {%- if img != null -%}
      <div class="event-image">
        {%- if img.FileExt == ".svg" -%}
          {%- assign svgImage = page.PageImage | get_vector_image -%}
          {{ svgImage.SvgData }}
        {%- else -%}
          <img src="{{ img.Url }}" alt="{{ img.ImgAlt }}" loading="lazy" decoding="async" />
        {%- endif -%}
      </div>
      {%- endif -%}
    {%- endif -%}

  </li>
  {%- else -%}
  <li class="no-results">
    <p>No resources found matching your criteria. Please try adjusting your filters.</p>
  </li>
  {%- endfor -%}
</ul>
